<p id="notice"><%= notice %></p>

<p>
  <strong>Sessionid:</strong>
  <%= @session.sessionid %>
</p>

<p>
  <strong>User:</strong>
  <%= @session.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @session.date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @session.completed %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
