<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @setcompilation.name %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @setcompilation.theme %>
</p>

<%= link_to 'Edit', edit_setcompilation_path(@setcompilation) %> |
<%= link_to 'Back', setcompilations_path %>
