<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<body>

	<div class="container">
		<header>
			<%= image_tag ('coachme-logo.png') %>
		</header>
	</div>
	<div class="jumbotron">
<!-- 		<h1>Welcome to this Session!</h1> -->
	</div>
	
	<section id="content">
	
		<div class="container">
			<%= yield %>
			
			
		</div> <!-- /Container -->
		
	</section>
	<footer>
		<%= debug(@item) %>
		<%= debug(@parameters) %>
	</footer>
</body>
</html>
